body{
    background-image: url("milkyWay.jpg");
    background-size: cover;
}

/* font-awesome icons */
.fa {
  padding: 12px;
  font-size: 17px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 1px 4px;
  border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: #343A40;
  }

.fa-github{
    background: #15AABF;
    color: #343A40;
}

.navbar-nav > li > a {
    padding-top:5px !important; 
    padding-bottom:5px !important;}
.navbar {
    min-height:100px !important
}
