/*Override bootstrap*/
hr{
    border-top: 1px solid white;
}

a{
    color:white;
}
/* font-awesome icons */
.fa {
    font-size: 2rem;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin-square{
    color: #007bb5;
  }

.fa-github-square{
    color: #4078c0;
}

/* MEDIA QUERIES */

/*tablets*/
@media screen and (max-width: 768px){

}

/*mobiles*/
@media screen and (max-width: 480px){
    
}
