body{
    background-image: url("milkyWay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* font-awesome icons */
.fa {
  padding: 12px;
  font-size: 17px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 1px 4px;
  border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: #343A40;
  }

.fa-github{
    background: #15AABF;
    color: #343A40;
}

.navbar-nav > li > a {
    padding-top:5px; 
    padding-bottom:5px;}

.navbar {
    min-height:100px;
}

.myLayer {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}

/* MEDIA QUERIES */

/*tablets*/
@media screen and (max-width: 768px){

}

/*mobiles*/
@media screen and (max-width: 480px){
    
}
